body {
  margin: 0;
  background-color: rgb(40, 38, 38);
  width: 100%;
}
.header_top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 30px;
  background-image: linear-gradient(
    to top,
    #47494b,
    #353c3f,
    #3a4342,
    #515553,
    #72746e
  );

  align-items: center;
  border-bottom: black solid 3px;
}
.header_top--text {
  color: #c6c4cc;
  font-size: 150%;
}
.header_top--magnifyingGlassIcon{
  position: absolute; 
}

input[type="search"] {
  height: 25px;
  color: #c6c4cc;
  border-radius: 20px;
  background-color: #2a2d2e;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.04);
}

.data_titles{
  color:rgb(238, 236, 236);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}
.renderedData {
  width: 95%;
  height: 700px;
  color:rgb(238, 236, 236);
  font-size: larger;
  background-color: rgb(49, 46, 46);
  border: solid black 1px;
  box-shadow: -1px 4px 13px 5px rgba(14, 13, 13, 0.98);
  border-radius: 5px;
  margin-bottom: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  
}


/* scrool bar css */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.545);
}

::-webkit-scrollbar-thumb {
  background: white;
}
.data{
  padding: 0px 10px 0px 10px;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 2px solid black;
  
}



.bottom_buttons {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  justify-content: center;
}

button {
  font-size: 120%;
  color: #c6c4cc;
  width: 150px;
  margin-bottom: 40px;
  padding: 10px;
  border: none;
  background-image: linear-gradient(
    to top,
    #47494b,
    #56585a,
    #4e5352,
    #56585a,
    #72746e
  );
}
button:hover {
  color: #efedf4;
  box-shadow: 0px 3px 24px -9px rgba(226, 212, 212, 0.98);
}
