.header_top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.bottom_buttons {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

